torchaudio
torch
transformers==4.48.2
audiomentations
kaldiio
jiwer
sentencepiece
datasets
wandb
accelerate
evaluate
tokenizers
multiprocess
tqdm
numpy
packaging
pandas
librosa
tslearn
sacrebleu
ninja
nltk
peft
